# Secrets
.env

# Database files
*.duckdb

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.DS_Store
.vscode/
.idea/
